<p>Appearances in this episode</p>
{{#items}}
<img id="thumb_{{id}}" data-seconds="{{timestamp}}" class="img-thumbnail" src="http:{{image.url}}" style="width: 50px;" alt="appears at {{pretty_timestamp timestamp}}" title="appears at {{pretty_timestamp timestamp}}">
{{/items}}